<h1 id="title">Report - Packages by Month</h1>

<div id="report_packages_month">
  <%= form_tag({:action=>"show"}, method: :get) do %>
  Month:
  <%= text_field_tag :month %> <br><br>
  Year:
  <%= text_field_tag :year %> <br><br>
  <%= submit_tag 'Search', name: nil %>
<% end %>
</div>
