<h1 id="title">Report - Employee Packages</h1>

<div id="report_employee_packages">
  <%= form_tag({:action=>"show"}, method: :get) do %>
    Identity:
    <%= text_field_tag :employee_id %>
    <%= submit_tag 'Search', name: nil %>
  <% end %>
</div>
