<h2>Employee information</h2>

<p>Identity: <%= @createdEmployeeModel.identity %></p> 
<br>

<p>Name: <%= @createdEmployeeModel.name %></p> 
<br>

<p>Surname: <%= @createdEmployeeModel.surname %></p> 
<br>

<p>Email: <%= @createdEmployeeModel.email %></p> 
<br>
