<div class="about">
<h1 id="title"> About </h1>
<p> En 1997 se funda Transportes La Blanquita Express, brindando sus servicios de transporte terrestre de pasajeros y mensajería entre las Ciudades de Tegucigalpa y Choluteca.
Gracias a la preferencia de nuestros clientes hoy por hoy La Blanquita Express se ha convertido en una de las principales empresas de transporte terrestre a nivel de ambas ciudades. Innovando conceptos en el servicio que permitan garantizar a nuestros clientes seguridad, puntualidad y calidad.</p>
</div>
