<div class="contact">
<h1 id="title"> Contact Us </h1>
  <p> Puede visitarnos en las siguientes direcciones:<br><br>
      - <strong>Tegucigalpa</strong>: Final 6 Ave entre 23 y 24 calle Barrio Villadela <br><br>
      - <strong>Choluteca</strong>: Gasolinera Uno El Carreto
  </p>
</div>
